.dydra-close-button {
    display: inline-block;
    background: var(--jp-icon-stop);
    margin-left: 4px; margin-right: 4px;
    width:16px; height: 16px
}

.dydra-execute-button {
    display: inline-block;
    background: var(--jp-icon-search);
    margin-left: 4px; margin-right: 4px;
    width:16px; height: 16px
}

.dydra-layer-title {
    display: inline-block;
    width: 128px;
    max-width: 128px;
    height: 16px;
}

.dydra-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dydra-mode-open {
    display: inline-block;
    background-image: url('./icon-16-16-bottom.png');
    background-position: 0px 2px;
    background-repeat: no-repeat;
    margin-left: 4px; margin-right: 4px;
    
    width:16px; height: 16px;
}

.dydra-mode-closed {
    display: inline-block;
    background-image: url('./icon-16-16-left.png');
    background-position: 0px 4px;
    background-repeat: no-repeat;
    margin-left: 4px; margin-right: 4px;
    width:16px; height: 16px;
}

.dydra-layer-title {
    font-weight: bold;
    border: solid black 1px;
}

.CodeMirror-gutter.CodeMirror-linenumbers {
    width: 2em;
    font: normal 9pt fixed;
}

.CodeMirror-scroll {
    overflow-y: auto;
    overflow-x: auto;
}
